@media (max-width: 1024px) {

  .container {
    max-width: 1024px;
  }

  /* sidebar */


  .sidebar {
    display: none;
  }
  
  /* header */

  .header-content {
    flex-wrap: wrap ;
  }

  .header-profile {
    flex-wrap: wrap;
  }

  .search {
    display: none;
  }

  .search-img {
    margin-left: 0;
  }

  .header-left .hamburger-button {
    display: block;
  }

  /* main */

  .main-grid {
    grid-template-columns: 1fr 1fr;
    column-gap: 25px;
    row-gap: 40px;
  }

}