.profile-picture {
  border: 2px solid #E7E7E7;
  border-radius: 28px;
  padding: 16px;
}


.profile-picture:hover {
  background-color: #D2D2D2;
}

/* main */

.main-table {
  width: 100%;
  border-spacing: 0;
  margin-bottom: 62px;
  border-collapse: collapse;
}

.main-table td, .main-table th {
  padding: 24px 30px 27px 30px;
  transition: 200ms border-radius ease-in;
}

.main-table th {
  text-align: left;
}

.main-table tr, .main-table tbody {
  width: 100%;
}

.main-table tbody tr {
  transition: 200ms background-color ease-in;
}


.main-table td:first-child,
.main-table th:first-child {
  border-radius: 12px 0 0 12px;
}

.main-table td:last-child,
.main-table th:last-child {
  border-radius: 0 12px 12px 0;
}

.main-table tbody tr:hover {
  background-color: #F2F2F2;
}

.pink-table {
  color: #FF2288;
}

.main-table tr {
  border-bottom: 1px solid #ddd;
}

.main-table tbody tr:last-child td {
  border-bottom: none;
}