@media (max-width: 1024px) {

  .container {
    max-width: 1024px;
  }

  /* sidebar */

  .sidebar {
    display: none;
  }
  

  /* header */

  .search {
    max-width: 20px;
    background-color: #D2D2D2;
    border-radius: 12px;
  }

  /* main */

  .main-grid {
    grid-template-columns: 1fr 1fr;
    column-gap: 25px;
    row-gap: 40px;
  }

}